footer
    background: $main
    color: $text-main
    padding: 5em 0

    a
        color: $text-main

.social-links
    display: flex
    font-size: 6rem
    justify-content: space-around
    opacity: 0.8

.nav-footer
    display: flex
    flex-wrap: wrap

.nav-footer > *
    flex: 1 1 15em